/* chapter.html  */
/* ============= */
/* Global Styles */
/* ============= */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #eef2f3;
    padding: 20px;
    line-height: 1.6;
    margin: 0;
    position: relative;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: black;
    padding: 5px 10px; /* Increased padding for easier clicking */
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition for hover */
}


/* ======= */
/* Headers */
/* ======= */
h1, h2 {
    color: #333;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
    padding-bottom: 5px;
}

h2.author, h2.create-by {
    text-align: center;
}

h2.author {
    font-size: large;
}

h2.create-by {
    font-size: small;
}

/* Styling for the title */
#title {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#title span {
    display: inline-block;
    animation: fade 4s infinite;
    opacity: 1;
}

/* Delay for each letter's animation */
#title span:nth-child(1) { animation-delay: 0s; }
#title span:nth-child(2) { animation-delay: 0.1s; }
#title span:nth-child(3) { animation-delay: 0.2s; }
#title span:nth-child(4) { animation-delay: 0.3s; }
#title span:nth-child(5) { animation-delay: 0.4s; }
#title span:nth-child(6) { animation-delay: 0.5s; }
#title span:nth-child(7) { animation-delay: 0.6s; }

/* ============== */
/* Navigation Bar */
/* ============== */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    background-color: rgba(208, 208, 208, 0.8);
    color: black;
    z-index: 2;
    position: relative;
}

.nav-links {
    display: flex;
    background-color: rgba(208, 208, 208, 0.8);
}

.nav-links a {
    color: black;
}

a:hover {
    background-color: rgba(100, 100, 100, 0.3);
}

a.home-bar, a.changelog-bar, a.chapter-bar, a.character-bar {
    text-decoration: none;
    font-size: small;
    color: black;
    padding: 3px 6px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* ======= */
/* Chapter */
/* ======= */
.chapter {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.chapter:hover, .chapter.active {
    background-color: #e6e6e6;
}

.chapter.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ==== */
/* Text */
/* ==== */
p {
    margin: 0 0 15px;
    color: #555;
    text-align: justify;
}

/* ===== */
/* Lists */
/* ===== */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* ================= */
/* Background Canvas */
/* ================= */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ====== */
/* Footer */
/* ====== */
footer {
    margin-top: 40px;
    padding: 10px;
    background-color: #222;
}

footer p {
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    color: #9f9f9f;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    .chapter h2 {
        font-size: 1.7rem;
    }
    .chapter p {
        font-size: 1rem;
    }
    .container {
        padding: 15px;
    }
    .menu-icon {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(208, 208, 208, 0.9);
        width: 100%;
        position: absolute;
        top: 60px;
    }
    .nav-links.show {
        display: flex;
    }
    .nav-links a {
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .chapter h2 {
        font-size: 1.5rem;
    }

    .chapter p {
        font-size: 0.95rem;
    }
}

/* Animation for fade-out and fade-in effect */
@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}