body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #eef2f3;
    padding: 20px;
    line-height: 1.6;
    margin: 0;
    position: relative;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 1px;
}

.navigation-bar {
    align-items: center;
    display: flex;
    font-size: small;
    background-color: rgba(208, 208, 208, 0.8);
    color: black;
}

a:hover {
    background-color: rgba(100, 100, 100, 0.3); /* Add hover effect */
}

a.home-bar, a.changelog-bar, a.chapter-bar {
    text-decoration: none;
    font-size: small;
    color: black;
    padding: 3px 8px;
}


h2 {
    font-size: 1.5em;
    margin-top: 0;
    color: #4a4a4a;
    padding-bottom: 5px;
}

h2.author {
    text-align: center;
    font-size: large;
}

h2.create-by {
    text-align: center;
    font-size: small;
}

p {
    margin: 0 0 15px;
    color: #555;
    text-align: justify;
}

p.release-date {
    font-size: 0.9em;
    color: #888;
    margin-top: 0;
    font-style: italic;
    text-align: left;
}

.changelog {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.changelog:hover, .changelog.active {
    background-color: #e6e6e6;
}

.changelog.visible {
    opacity: 1;
    transform: translateY(0);
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .changelog h2 {
        font-size: 1.7rem;
    }

    .changelog p {
        font-size: 1rem;
    }

    .container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .changelog h2 {
        font-size: 1.5rem;
    }

    .changelog p {
        font-size: 0.95rem;
    }
}

/* Animation for fade-out and fade-in effect */
@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Styling for the title */
#changelog {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#changelog span {
    display: inline-block;
    animation: fade 4s infinite;
    opacity: 1;
}

/* Delay for each letter's animation */
#changelog span:nth-child(1) {
    animation-delay: 0s;
}
#changelog span:nth-child(2) {
    animation-delay: 0.1s;
}
#changelog span:nth-child(3) {
    animation-delay: 0.2s;
}
#changelog span:nth-child(4) {
    animation-delay: 0.3s;
}
#changelog span:nth-child(5) {
    animation-delay: 0.4s;
}
#changelog span:nth-child(6) {
    animation-delay: 0.5s;
}
#changelog span:nth-child(7) {
    animation-delay: 0.6s;
}

/* ======================== */
/* Speech Synthesis Manager */
/* ======================== */

.text-section {
    margin-bottom: 20px;
}

.progress-container {
    width: 100%;
    height: 10px; /* Height of the progress bar */
    background-color: #e0e0e0; /* Background color of the progress bar */
    border-radius: 5px; /* Rounded corners for the progress bar container */
    overflow: hidden; /* Prevent overflow */
}

.progress-bar {
    height: 100%; /* Full height of the container */
    width: 0; /* Start width for the progress */
    background-color: #76c7c0; /* Color of the progress */
    transition: width 0.1s ease; /* Smooth transition for the progress */
}

.speech-speed {
    font-size: 10rem;
}

.control {
    margin-top: 10px;
}

.control button {
    margin-right: 10px; /* Spacing between buttons */
}

.control label {
    margin-right: 5px; /* Spacing for label */
}

/* For medium screens */
@media (max-width: 768px) {
    .control {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px; /* Spacing between buttons */
    }

    .control button {
        padding: 2px 5px; /* Adjust padding for better fit */
        font-size: 0.9rem;
        flex: 1 1 30%; /* Allow buttons to adjust size */
        margin-right: 0; /* Remove right margin */
    }
}

/* For smaller screens */
@media (max-width: 480px) {
    .control {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px; /* Spacing between buttons */
    }

    .control button {
        padding: 1px 1px; /* Adjust padding for better fit */
        font-size: 0.9rem;
        flex: 1 1 30%; /* Allow buttons to adjust size */
        margin-right: 0; /* Remove right margin */
    }
}
